/*
 * Custom CSS
 * Make sure to never override default Bootstrap!
 */ 
body{
	 background-image: url("images/mission-iss-feature.jpg") 
}
h1{
	color: Silver;
}
 
#well{
	background-color: Lightblue;
}